html, body, ul, li, header, h1, h2, h3, p, a {
    padding: 0;
    border: 0;
    margin: 0;
} 

body {
    margin: 20px;
    background-color: white; 
}  

#container {
   display: flex;
   margin-top: 20px;
   flex-wrap: wrap;
   justify-content: space-around;
   font-family: Arial, Helvetica, sans-serif;
   color: white; 
   width: 100%;
   padding: 20px;
   background-image: url(green-vegetables-on-brown-wooden-chopping-board-3952047.jpg);
   height: 750px;
}  

nav {
    justify-content: flex-start;
    flex-direction: column;
}

ft-page {
    justify-content: flex-start;
    flex-direction: flex-start;
}

h1 {
    justify-self: center;
    font-size: 70px;
    justify-content: center;
    align-items: center;
    align-self: center;

}

a {
   flex-grow: 1;
   color: white;
}

#Flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2 {  
    color: white;
    font-size: 26px;
    font-display: center;
    align-self: center;
    text-align: center;
    margin-bottom: 20px;
}
 
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: end;

}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

li {
    list-style-type: none;
    background-color: black;
    
}

.image-wrapper {
    flex: 1; 
}

.image-wrapper img {
    max-width: 100%; 
}

.text-wrapper {
    flex: 1; 
    padding: 20px;
}
 
.first {
    margin-top: 20px;
    height: 500px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
 
.second {
    margin-top: 20px;
    height: 500px;
    width: 100%; 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
 
 
.third {
    margin-top: 20px;
    height: 500px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}